name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
      - run: npm install --global corepack
      - run: corepack enable
      - run: pnpm --version
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: format
        run: pnpm format
      - name: lint
        run: pnpm run lint
      - name: typecheck
        run: pnpm run typecheck
      - name: audit
        if: (${{ success() }} || ${{ failure() }})
        run: pnpm audit
      - name: test
        if: (${{ success() }} || ${{ failure() }})
        run: pnpm test:self
        env:
          COREPACK_ENABLE_STRICT: 0
