# integration tests for vue ecosystem projects - scheduled or manual run for all suites
name: ecosystem-ci

env:
  # 7 GiB by default on GitHub, setting to 6 GiB
  # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
  NODE_OPTIONS: --max-old-space-size=6144

on:
  schedule:
    - cron: "0 5 * * 1,3,5" # monday,wednesday,friday 5AM
  workflow_dispatch:
    inputs:
      refType:
        description: "type of ref"
        required: true
        type: choice
        options:
          - branch
          - tag
          - commit
          - release
        default: "branch"
      ref:
        description: "vue ref to use"
        required: true
        type: string
        default: "main"
      repo:
        description: "vue repository to use"
        required: true
        type: string
        default: "vuejs/core"
  repository_dispatch:
    types: [ecosystem-ci]
jobs:
  test-ecosystem:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        suite:
          - language-tools
          # - naive-ui
          - nuxt
          - pinia
          - primevue
          - quasar
          - radix-vue
          - router
          - test-utils
          - vant
          - vite-plugin-vue
          - vitepress
          - vue-i18n
          - vue-macros
          - vuetify
          - vueuse
          - vue-simple-compiler
      fail-fast: false
    outputs:
      suite: ${{ matrix.suite }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.12.0
        id: setup-node
      - run: corepack enable
      - run: pnpm --version
      - run: pnpm i --frozen-lockfile
      - run: >-
          pnpm tsx ecosystem-ci.ts
          --${{ inputs.refType || github.event.client_payload.refType || 'branch' }} ${{ inputs.ref || github.event.client_payload.ref || 'main' }}
          --repo ${{ inputs.repo || github.event.client_payload.repo || 'vuejs/core' }}
          ${{ matrix.suite }}
        id: ecosystem-ci-run
        env:
          COREPACK_ENABLE_STRICT: 0
      - if: always()
        run: pnpm tsx discord-webhook.ts
        env:
          WORKFLOW_NAME: ci
          REF_TYPE: ${{ inputs.refType || github.event.client_payload.refType || 'branch' }}
          REF: ${{ inputs.ref || github.event.client_payload.ref || 'main' }}
          REPO: ${{ inputs.repo || github.event.client_payload.repo || 'vuejs/core' }}
          SUITE: ${{ matrix.suite }}
          STATUS: ${{ job.status }}
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # TODO:
  # move this job into a standalone workflow
  # so that it can be triggered by other workflows via workflow_dispatch
  test-ecosystem-snapshot:
    needs: test-ecosystem
    if: failure()
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - run: echo ${{ needs.test-ecosystem.outputs.suite }}
      - uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.ECOSYSTEM_CI_ACCESS_TOKEN }}
          script: |
            // first, list workflow runs for ecosystem-ci.yml
            const { data: { workflow_runs } } = await github.rest.actions.listWorkflowRuns({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'ecosystem-ci.yml',
              event: 'schedule',
              status: 'completed'
            });

            // the default number of results per page is 30,
            // that covers the last 10 weeks of runs, which should be enough

            // TODO:
            // check for previous scheduled `test-ecosystem` job runs and find the last successful one
            // use that timestamp to get the snapshot of the corresponding repository
            // then run again the failed suite with the snapshot
