# integration tests for vue ecosystem projects - scheduled or manual run for all suites
name: ecosystem-ci

env:
  # 7 GiB by default on GitHub, setting to 6 GiB
  # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
  NODE_OPTIONS: --max-old-space-size=6144

on:
  schedule:
    - cron: "0 5 * * 1,3,5" # monday,wednesday,friday 5AM
  workflow_dispatch:
    inputs:
      refType:
        description: "type of ref"
        required: true
        type: choice
        options:
          - branch
          - tag
          - commit
          - release
        default: "branch"
      ref:
        description: "vue ref to use"
        required: true
        type: string
        default: "main"
      repo:
        description: "vue repository to use"
        required: true
        type: string
        default: "vuejs/core"
  repository_dispatch:
    types: [ecosystem-ci]
jobs:
  test-ecosystem:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        suite:
          - language-tools
          # - naive-ui
          - nuxt
          - pinia
          - primevue
          - quasar
          - radix-vue
          - router
          - test-utils
          - vant
          - vite-plugin-vue
          - vitepress
          - vue-i18n
          - vue-macros
          - vuetify
          - vueuse
          - vue-simple-compiler
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
        id: setup-node

      - run: npm install --global corepack
      - run: corepack enable
      - run: pnpm --version
      - run: pnpm i --frozen-lockfile
      - run: >-
          pnpm tsx ecosystem-ci.ts
          --${{ inputs.refType || github.event.client_payload.refType || 'branch' }} ${{ inputs.ref || github.event.client_payload.ref || 'main' }}
          --repo ${{ inputs.repo || github.event.client_payload.repo || 'vuejs/core' }}
          ${{ matrix.suite }}
        id: ecosystem-ci-run
        env:
          COREPACK_ENABLE_STRICT: 0
      - if: always()
        run: pnpm tsx discord-webhook.ts
        env:
          WORKFLOW_NAME: ci
          REF_TYPE: ${{ inputs.refType || github.event.client_payload.refType || 'branch' }}
          REF: ${{ inputs.ref || github.event.client_payload.ref || 'main' }}
          REPO: ${{ inputs.repo || github.event.client_payload.repo || 'vuejs/core' }}
          SUITE: ${{ matrix.suite }}
          STATUS: ${{ job.status }}
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
